<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
   <!-- leaflet -->
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>   <link rel="stylesheet" href="{{ url_for('static',filename='styles/defaultStyle.css') }}">
   <!-- Awersome-Markers -->
   <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
   <title>HydrEAUviewer APP</title>
   <link rel="icon" type="image/png" href="https://img.icons8.com/fluency/48/000000/water.png"/>
   <!-- Chart.js -->
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" href="#"><img class="icon-logo" src="https://img.icons8.com/fluency/48/000000/water.png">HydrEAUviewer APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
           <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
           <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('home')}}">Home</a>
             </li>
              <li class="nav-item">
                 <a class="nav-link" href="{{url_for('api')}}">API</a>
              </li>
           </ul>
        </div>
     </nav>
     
     <div class="container-fluid vh-100">

        <div id="sideBar_map" class="row justify-content-center h-100">        
            
         <div class="col-md-3 bg-light">      
               <form id="params">
                 <h3 class="text-center p-3">Parameters</h3>
                 <div class="p-3">
                    <h4 class="p-2">Stations localisation</h4>
                    <p>
                       <label for="lat">Latitude</label>
                       <input id="lat" type="number" name="lat" step="0.000001" value="{{lat}}">
                     </p>
                     <p>
                        <label for="long">Longitude</label>
                        <input id="long" type="number" name="long" step="0.000001" value="{{long}}">
                     </p>
                     <p>
                        <label for="dist">Distance (km)</label>
                        <input id="dist" type="number" name="dist" min="0" value="{{dist}}">
                     </p>
                  </div>
                  <div class="p-3">
                     <h4 class="p-2">Hydrological observations</h4>
                     <p>
                        <label for="lat">Measure type</label>
                        <select id="hydro_measure" name="hydro_measure">
                           {% for key, value in hydro_measures.items() %}
                           <option value={{value}}>{{key}}</option>
                           {% endfor %}
                        </select>
                     </p>
                     <p>
                        <label for="days_before">Historic data (days)</label>
                        <input type="number" name="days_before" min="1" step="1" value="{{data_hist}}">
                     </p>
                  </div>
               </form>
                <div class="p-3">
                  <button id="submit_params" type="submit">refresh</button>
               </div>
               <div id="station_selected" class="p-3"></div>
            </div>

            <div class="col-md-9">
               <div class="vh-100" id="map"></div>               
            </div>

            <div id="graph" style="display: none;" class="col-xl bg-light">
               <div class="p-3 ">
                  <h4 class="p-2">Data visualization</h4>
                  <p id="info_station"></p>
                  <canvas id="canvas_graph"></canvas>
               </div>
            </div>
         </div>
     </div>

   <script src="{{url_for('static',filename='/js/map.js')}}"></script>
    
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>